body {
    font-family: Verdana, sans-serif;
    width: 90%;
    margin: auto;
}

/**** Table Styling ****/
table {
    border-collapse: collapse;
    border-bottom: 1px solid #222;
}

table, .tablenote {
    font-size: 85%;
}

table, th, td {
    padding: 1px 5px;
}

th {
    text-align: left;
    border-top: 2px solid #222;
    border-bottom: 1px solid #222;
}

tr {
    border-bottom: 1px solid #ccc;
}

tr:last-child {
    border-bottom: 2px solid #222;
}
