<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starsystem Generator for GURPS</title>
</head>
<body>
    <h3>You have successfully generated the following star system:</h3>
    <h3>Star system properties</h3>

    {% if starsystem.is_open_cluster() %}
    <p id="open-cluster">The star system is an open cluster.</p>
    {% endif %}
    {% if starsystem.stars|count == 1 %}
    <div>
        There is a single star in the system. <br/>
    {% else %}
    <div>
        There are {{ starsystem.stars|count }} stars in the system. <br/>
    {% endif %}
        The stars in this system are {{starsystem.get_age()|round(2)}} billion years old. <br/>
        <br/>
        {% for star in starsystem.stars %}
        <div>
            Star {{star.get_letter()}} properties:
            {% if star.get_letter() == 'B' or star.get_letter() == 'C' %}
            <p>
                Star {{star.get_letter()}} orbits the main star at {{starsystem.get_orbits()[loop.index0 - 1][0]|round(2)}} AU mean distance with an orbital eccentricity of {{starsystem.get_orbits()[loop.index0 - 1][1]|round(2)}}. <br/>
                It has an orbital period of {{starsystem.get_period()[loop.index0 - 1]|round(1, 'common')}} days.
            </p>
            {% endif %}
            <ul>
                {% if star.get_sequence() == 'Main' %}
                <li>It is a {{star.get_sequence()|lower}} sequence star.</li>
                {% else %}
                <li>It is a {{star.get_sequence()|lower}}.</li>
                {% endif %}
                <li>The star is as massive as {{star.get_mass()|round(2)}} suns.</li>
                <li>The surface temperature of the star is {{star.get_temp()}} degrees K.</li>
                <li>The luminosity of the star is {{star.get_luminosity()|round(6)}}.</li>
                <li>The star's radius is {{star.get_radius()|round(6)}} times the sun's radius.</li>
                <li>The inner limit for planets orbiting this star is at {{star.get_orbit_limits()[0]|round(2)}} AU. </li>
                <li>The outer limit for planets orbiting this star is at {{star.get_orbit_limits()[1]|round(2)}} AU. </li>
                <li>The snow line for planets orbiting this star is at {{star.get_snowline()|round(2)}} AU. </li>
                {% if star.get_letter() != 'A' %}
                    <li>The forbidden zone for planets lies between {{star.get_forbidden_zone()[0]|round(2)}} AU and {{star.get_forbidden_zone()[1]|round(2)}} AU.</li>
                {% endif %}
                {% if star.planetsystem.get_orbitcontents()|count > 0 %}
                <li><form id="planet{{star.get_letter()}}" action="planetsystem">
                    <input type="number" style="display: none" name="star_id" value={{loop.index0}} />
                    <input type="submit" id="planet-details" value="View orbiting objects" formtarget="_blank"/>
                </form></li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="form-container">
        <div id="question-text">
            Do you want to generate a new star system?<br/>
        </div>
        <form id="generation" action="starsystem">
            <input id="garden" type="checkbox" name="must_have_garden" value="True" /> Force star system with garden world? <br/>
            <input id="open_cluster" type="checkbox" name="open_cluster" value="True" /> Should the star system be an open cluster? <br/>
            <input id="num_stars" type="number" name="num_stars" />  Do you want to force a specific number of stars? 1-3 possible <br/>
            <input id="generate" type="submit" value="Generate star system"/>
        </form>
    </div>


</body>
</html>