<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starsystem Generator for GURPS</title>
    <link rel="stylesheet" type="text/css" href="mainstyle.css" />
</head>
<body>
    <p class="success">You have successfully generated the following star system:</p>
    <h2>Star system properties</h2>

    {% if starsystem.is_open_cluster() %}
    <p id="open-cluster">The star system is located in an open cluster.</p>
    {% endif %}
    {% if starsystem.stars|count == 1 %}
    <div>
        There is a single star in the system. <br/>
    {% else %}
    <div>
        There are {{ starsystem.stars|count }} stars in the system. <br/>
    {% endif %}
        The stars in this system are {{starsystem.get_age()|round(2)}} billion years old. <br/>
        <br/>
        <table>
            <tr>
                <th>Name</th>
                <th>Orbital Radius</th>
                <th>Orbital Period</th>
                <th>Sequence</th>
                <th>Mass*</th>
                <th>Avg. Temp.</th>
                <th>Luminosity*</th>
                <th>Radius*</th>
                <th>Inner Limit</th>
                <th>Outer Limit</th>
                <th>Snow Line</th>
                <th>Forbidden Zone</th>
                <th>Planetary System</th>
            </tr>
            {% for star in starsystem.stars %}
            <tr>
                <td>{{star.get_letter()}}</td>
                {% if star.get_letter() == 'A' %}
                <td>N/A</td>
                <td>N/A</td>
                {% else %}
                <td>{{starsystem.get_orbits()[loop.index0 - 1][0]|round(2)}} AU</td>
                <td>{{starsystem.get_period()[loop.index0 - 1]|round(1, 'common')}} days</td>
                {% endif %}
                <td>{{star.get_sequence()}}</td>
                <td>{{star.get_mass()|round(2)}}</td>
                <td>{{star.get_temp()}} K</td>
                <td>{{star.get_luminosity()|round(4)}}</td>
                <td>{{(star.get_radius() * 214.93) | round(2)}}</td>
                <td>{{star.get_orbit_limits()[0]|round(2)}} AU</td>
                <td>{{star.get_orbit_limits()[1]|round(2)}} AU</td>
                <td>{{star.get_snowline()|round(2)}} AU</td>
                {% if star.get_letter() != 'A' %}
                <td>{{star.get_forbidden_zone()[0]|round(2)}} AU - {{star.get_forbidden_zone()[1]|round(2)}} AU</td>
                {% else %}
                <td>N/A</td>
                {% endif %}
                {% if star.planetsystem.get_orbitcontents()|count > 0 %}
                <td>
                    <form id="planet{{star.get_letter()}}" action="planetsystem">
                    <input type="number" style="display: none" name="star_id" value={{loop.index0}} />
                    <input type="submit" id="planet-details" value="View orbiting objects" formtarget="_blank"/>
                    </form>
                </td>
                {% else %}
                <td>No Planetary System</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <p class="tablenote">*: Mass, Luminosity and Radius are given relative to the Sun: 1.0 is equal to the Sun.</p>
    </div>
    <br/>
    <br/>
    <div id="form-container">
        <div id="question-text">
            Do you want to generate a new star system?<br/>
        </div>
        <form id="generation" action="starsystem">
            <input id="garden" type="checkbox" name="must_have_garden" value="True" /> Force star system with garden world? <br/>
            <input id="open_cluster" type="checkbox" name="open_cluster" value="True" /> Should the star system be an open cluster? <br/>
            <input id="num_stars" type="number" name="num_stars" />  Do you want to force a specific number of stars? 1-3 possible <br/>
            <input id="generate" type="submit" value="Generate star system"/>
        </form>
    </div>
</body>
</html>
