<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starsystem Generator for GURPS</title>
    <link rel="stylesheet" type="text/css" href="mainstyle.css" />
    <link rel="icon" type="image/png" href="/favicon" />
</head>
<body>
    <h1>Star System Generator for GURPS 4<sup>th</sup> Edition</h1>
    <aside id="go-again">
        <p><a href="javascript:history.go(0)">Click to generate a new star system with the same settings.</a></p>
        <p><a href="/">Click here if you want to change the settings.</a></p>
    </aside>
    <p class="success">You have successfully generated the following star system:</p>
    <h2>Star system properties</h2>

    {% if starsystem.is_open_cluster() %}
    <p id="open-cluster">The star system is located in an open cluster.</p>
    {% endif %}
    {% if starsystem.stars|count == 1 %}
    <div>
        There is a single star in the system. <br/>
    {% else %}
    <div>
        There are {{ starsystem.stars|count }} stars in the system. <br/>
    {% endif %}
        {% if starsystem.get_age() < 1 %}
            The stars in this system are {{starsystem.get_age()|round(2)}} billion years old. <br/>
        {% else %}
            The stars in this system are {{starsystem.get_age() * 1000}} million years old. <br/>
        {% endif %}
        <br/>
        <table>
            <tr>
                <th>Name</th>
                {% if starsystem.stars|count > 1 %}
                <th>Orbital Radius</th>
                <th>Orbital Period</th>
                {% endif %}
                <th>Sequence</th>
                <th>Mass*</th>
                <th>Avg. Temp.</th>
                <th>Luminosity*</th>
                <th>Radius*</th>
                <th>Inner Limit</th>
                <th>Outer Limit</th>
                <th>Snow Line</th>
                {% if starsystem.stars|count > 1 %}
                <th>Forbidden Zone</th>
                {% endif %}
                <th>Planetary System</th>
            </tr>
            {% for star in starsystem.stars %}
            <tr>
                <td>{{star.get_letter()}}</td>
                {% if star.get_letter() == 'A' and starsystem.stars|count > 1 %}
                <td>-</td>
                <td>-</td>
                {% elif star.get_letter() != 'A' %}
                <td>{{starsystem.get_orbits()[loop.index0 - 1][0]|round(2)}} AU</td>
                <td>{{starsystem.get_period()[loop.index0 - 1]|round(1, 'common')}} days</td>
                {% endif %}
                <td>{{star.get_sequence()}}</td>
                <td>{{star.get_mass()|round(2)}}</td>
                <td>{{star.get_temp()}} K</td>
                <td>{{star.get_luminosity()|round(4)}}</td>
                <td>{{(star.get_radius() * 214.93) | round(2)}}</td>
                <td>{{star.get_orbit_limits()[0]|round(2)}} AU</td>
                <td>{{star.get_orbit_limits()[1]|round(2)}} AU</td>
                <td>{{star.get_snowline()|round(2)}} AU</td>
                {% if star.get_letter() == 'A' and starsystem.stars|count > 1 %}
                <td>-</td>
                {% elif star.get_letter() != 'A' %}
                <td>{{star.get_forbidden_zone()[0]|round(2)}} AU - {{star.get_forbidden_zone()[1]|round(2)}} AU</td>
                {% endif %}
                {% if star.planetsystem.get_orbitcontents()|count > 0 %}
                <td>
                    <form id="planet" action="planetsystem">
                    <input type="number" style="display: none" name="star_id" value={{loop.index0}} />
                    <input type="submit" id="planet-details" value="View orbiting objects" formtarget="_blank"/>
                    </form>
                </td>
                {% else %}
                <td>No Planetary System</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <p class="tablenote">*: Mass, Luminosity and Radius are given relative to the Sun: 1.0 is equal to the Sun.</p>
    </div>
</body>
</html>
