<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planetary system details - Starsystem Generator for GURPS</title>
    <link rel="stylesheet" type="text/css" href="mainstyle.css" />
    <link rel="icon" type="image/png" href="/favicon" />
    <script src="scripts/planets.js"></script>
</head>
<body>
    <h2>Properties of Planet System {{planetsystem.parentstar.get_letter()}}</h2>

    <p id="star-info">
        This planetary system orbits star {{planetsystem.parentstar.get_letter()}} of the star system.
    </p>
    <div id="star-radius" style="display: none">{{planetsystem.parentstar.get_radius()}}</div>
    <div id="star-limit" style="display: none">{{planetsystem.parentstar.get_orbit_limits()[1]}}</div>
    <div id="star-letter" style="display: none">{{planetsystem.parentstar.get_letter()}}</div>
    <canvas id="diagram" height="100" width="100" style="border: 1px solid black"></canvas>
    <p id="diagram-legend" class="tablenote"></p>

<div id="objects-overview">
    <h3>Overview</h3>
    <p>This planetary system contains the following planets and other astronomical objects:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>World</th>
            <th>Orbital Radius</th>
            <th>Orbital Period</th>
            <th>Orbital Eccentricity</th>
            <th>Minimum Radius</th>
            <th>Maximum Radius</th>
            <th>Moons</th>
            <th>Moonlets</th>
        </tr>
        {% for key, planet in planetsystem.get_orbitcontents().items()|sort %}
        {% set astro_body = planetsystem.get_orbitcontents()[key] %}
        <tr>
            <td id={{'name' ~ loop.index}}>{{astro_body.get_name()|e}}</td>
            <td>{{astro_body.type()}}</td>
            <td>{% if astro_body.get_size() != '' %}{{astro_body.get_size()}}{% else %} N/A {% endif %}</td>
            <td>{% if astro_body.get_type() != '' %}{{astro_body.get_type()}}{% else %} N/A {% endif %}</td>
            <td>{{astro_body.get_orbit()|round(2)}} AU</td>
            <td id={{'orbit_period' ~ loop.index}}>{{(astro_body.get_period() * 365)|round(2)}} days</td>
            <td>{{astro_body.get_eccentricity()}}</td>
            <td id={{'min_radius' ~ loop.index}}>{{astro_body.get_min_max()[0]|round(2)}} AU</td>
            <td id={{'max_radius' ~ loop.index}}>{{astro_body.get_min_max()[1]|round(2)}} AU</td>
            <td>
                {% if astro_body.num_moons() != '' %}
                    {% if astro_body.num_moons() > 0 %}
                        <form action="satellites">
                        <input type="number" style="display: none" name="planet_id" value={{key}} />
                        <input type="submit" id="planet-details" value={{astro_body.num_moons()|round(2)}} formtarget="_blank"/>
                        </form>
                    {% else %}
                        {{astro_body.num_moons()|round(2)}}
                    {% endif %}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{% if astro_body.num_moonlets() != '' %}{{astro_body.num_moonlets()|round(2)}}{% else %} N/A {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if asteroid_count > 0 %}
<div id="belts-list">
    {% if asteroid_count == 1 %}
    <h3>Asteroid Belt Details</h3>
    {% else %}
    <h3>Details of the Asteroid Belts</h3>
    {% endif %}
    <table>
        <tr>
            <th>Name</th>
            <th>Avg. Surface Temperature</th>
            <th>Climate Type</th>
            <th>Resource Value Modifier</th>
            <th>Affinity</th>
        </tr>
        {% for key, _ in planetsystem.get_orbitcontents().items()|sort if planetsystem.get_orbitcontents()[key].type() == 'Ast. Belt'%}
        {% set astro_body = planetsystem.get_orbitcontents()[key] %}
        <tr>
            <td>{{astro_body.get_name()|e}}</td>
            <td>{{astro_body.get_average_surface_temp()|round(2)}} K / {{(astro_body.get_average_surface_temp()-273.15)|round(2)}}°C</td>
            <td>{{astro_body.get_climate()}}</td>
            <td>{{astro_body.get_rvm()}}</td>
            <td>{{astro_body.get_affinity()}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if terrestrial_count > 0 %}
    <div id="planets-list">
        {% if terrestrial_count == 1 %}
        <h3>Planet Details</h3>
        {% else %}
        <h3>Details of the Planets</h3>
        {% endif %}
        <table>
            {% set list_of_rows = ["", "World Size", "World Type", "Atm. Mass*", "Atm. Composition", "Hydr. Coverage", "Avg. Surface Temperature", "Climate Type", "Axial Tilt", "Density*", "Diameter*", "Surface Gravity", "Mass*", "Atm. Pressure", "Pressure Category", "Volcanics", "Tectonics", "Resource Value Modifier", "Habitability", "Affinity", "Rotational Period*"] %}
            {% for row in list_of_rows %}
            <tr>
                {% if row == "" %}<th></th>
                {% else %}<td><b>{{row}}</b></td>
                {% endif %}

                {% for key, _ in planetsystem.get_orbitcontents().items()|sort if planetsystem.get_orbitcontents()[key].type() == 'Terrestrial'%}
                {% set astro_body = planetsystem.get_orbitcontents()[key] %}

                {% if row == "" %}
                <th>{{translate_row(astro_body, row)}}</th>
                {% else %}
                <td>{{translate_row(astro_body, row)}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

		<p class="tablenote">*: Atmospheric mass, density, diameter, and mass are all relative to Earth dimensions; 1.0 is what you'd expect on Earth. The rotation of the body is prograde by default, negative rotational period values indicate retrograde rotation.</p>
    </div>
{% endif %}
{% if gas_giant_count > 0 %}
<div id="gas-giants-list">
        {% if gas_giant_count == 1%}
        <h3>Gas Giant Details</h3>
        {% else %}
        <h3>Details of the Gas Giants</h3>
        {% endif %}
        <table>
            {% set list_of_rows = ["", "World Size", "Density*", "Diameter*", "Mass*", "Cloudtop Gravity", "Blackbody Temperature"] %}
            {% for row in list_of_rows %}
            <tr>
                {% if row == "" %}<th></th>
                {% else %}<td><b>{{row}}</b></td>
                {% endif %}

                {% for key, _ in planetsystem.get_orbitcontents().items()|sort if planetsystem.get_orbitcontents()[key].type() == 'Gas Giant'%}
                {% set astro_body = planetsystem.get_orbitcontents()[key] %}

                {% if row == "" %}
                <th>{{translate_row(astro_body, row)}}</th>
                {% else %}
                <td>{{translate_row(astro_body, row)}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

		<p class="tablenote">*: Atmospheric mass, density, diameter, and mass are all relative to Earth dimensions; 1.0 is what you'd expect on Earth.</p>
</div>
{% endif %}
</body>
</html>
